/* Center everything inside the iframe */
.iframe-container {
  width: 100vw; /* Full viewport width */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

/* Iframe Card */
.iframe-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
}

/* Heading */
h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #0056b3;
}

/* Messages */
.success-message {
  color: green;
  font-weight: bold;
}

.warning-message {
  color: darkcyan;
  font-weight: bold;
}

.data-message {
  color: #007bff;
  font-weight: bold;
  margin: 10px 0;
}

/* Button */
.btn {
  background: #007bff;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background: #0056b3;
}
